<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
<%- include('./common/header.ejs') %>

<main>
  <h1>This page is Home</h1>
  <img src="./images/ball.png" alt="">
</main>

</body>
</html>
